{{! Partial for a single post }}
<div class="post" data-id="{{id}}">
    <div class="post-avatar">
        <!-- the user's avatar -->
        <img src="/avatar/{{username}}" alt="User's Avatar" class="avatar">
    </div>
    <div class="post-content preserve-newlines">
        <!-- the post -->
        <h3>{{title}}</h3>
        <p>{{content}}</p>
        {{#if image}}
            <div class="post-image">
                <img src="{{image}}" alt="Post Image">
            </div>
        {{/if}}
        <div class="post-status-bar">
            <!-- everything that is shown in the status bar -->
            {{#ifCond user.username username}}
                <button class="delete-button" data-id="{{id}}" onclick="handleDeleteClick(event)">
                    <i class="fas fa-trash-alt"></i>
                </button>
            {{else}}
                <button class="like-button" data-id="{{id}}" onclick="handleLikeClick(event)">♥</button>
            {{/ifCond}}
            <p class="likes">{{likes}} Likes</p>
            <p>Posted By {{username}} on {{timestamp}}</p>
        </div>        
    </div>
</div>
<script>

    async function handleLikeClick(event) {
        const postId = event.target.getAttribute('data-id');
        try {
            // call fetch to update the post' likes on server side   
            const response = await fetch(`/like/${postId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            const result = await response.json();
            if (result.success === true) {
                // update the number of likes on client side
                const postElement = document.querySelector(`.post[data-id="${postId}"]`);
                const likesElement = postElement.querySelector('.likes');
                likesElement.textContent = result.likes + " Likes";
            } else {
                console.error(result.message);
            }
        } catch (error) {
            console.error('Error:', error);
        }  
    }

    async function handleDeleteClick(event) {
        const buttonElement = event.target.closest('.delete-button');
        const postId = buttonElement.getAttribute('data-id');        
     
        try {
            // call fetch to delete the post on server side 
            const response = await fetch(`/delete/${postId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            const result = await response.json();
            if (result.success === true) {
                // remove the post element on client side
                const postElement = document.querySelector(`.post[data-id="${postId}"]`);
                postElement.remove();
                window.location.reload(true);
            } else {
                console.error(result.message);
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }

</script>